$number-of-columns: 12;

$breakpoint-sm: 768px;
$breakpoint-lg: 992px;

$container-width: 100%;
$container-max-width: 1200px;
$gutter-width: 1.5rem;

* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  width: $container-width;
  max-width: $container-max-width;
}

.row {
  display: grid;
  grid-template-columns: repeat($number-of-columns, 1fr);
  grid-column-gap: $gutter-width;
}

.col {
  grid-column-end: span ($number-of-columns + 1);
}

$i: 1;
@while $i <= $number-of-columns {
  .sm-#{$i} {
    grid-column-end: span $i;
  }
  $i: $i + 1;
}

$i: 1;
@while $i <= $number-of-columns {
  .sm-offset-#{$i} {
    grid-column-start: $i;
  }
  $i: $i + 1;
}

$i: 1;
@while $i <= $number-of-columns {
  .sm-order-#{$i} {
    order: $i;
  }
  $i: $i + 1;
}

@media (min-width: $breakpoint-sm) {
  $i: 1;
  @while $i <= $number-of-columns {
    .md-#{$i} {
      grid-column-end: span $i;
    }
    $i: $i + 1;
  }

  $i: 1;
  @while $i <= $number-of-columns {
    .md-offset-#{$i} {
      grid-column-start: $i;
    }
    $i: $i + 1;
  }

  $i: 1;
  @while $i <= $number-of-columns {
    .md-order-#{$i} {
      order: $i;
    }
    $i: $i + 1;
  }
}

@media (min-width: $breakpoint-lg) {
  $i: 1;
  @while $i <= $number-of-columns {
    .lg-#{$i} {
      grid-column-end: span $i;
    }
    $i: $i + 1;
  }

  $i: 1;
  @while $i <= $number-of-columns {
    .lg-offset-#{$i} {
      grid-column-start: $i;
    }
    $i: $i + 1;
  }

  $i: 1;
  @while $i <= $number-of-columns {
    .lg-order-#{$i} {
      order: $i;
    }
    $i: $i + 1;
  }
}
